*~
memories
memoriesdb
manifest.json
memories.qmlproject.user

code
code-units/
ubuntu-ui-extras/
units/
info/
ubuntu-ui-extras
build/
*.user

modules/Memories/libMemoriesPlugin.so
modules/Memories/plugins.qmltypes

resources/memories.desktop

tests/autopilot/Memories/*.pyc
tests/autopilot/Memories/emulators/*.pyc
tests/autopilot/Memories/tests/*.pyc

po/*.mo
