[Desktop Entry]
Name=memories
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/memories/memories.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
