Source: memories
Section: unknown
Priority: extra
Maintainer: Mario Guerriero <mario@elementaryos.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/Mefrio/Memories
Vcs-Git: git://git.debian.org/collab-maint/memories.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/memories.git;a=summary

Package: memories
Architecture: all
Depends: ${misc:Depends},qtdeclarative5-qtquick2-plugin,qtdeclarative5-u1db1.0,qtdeclarative5-ubuntu-ui-toolkit-plugin|qt-components-ubuntu,${shlibs:Depends},qmlscene
Description: Keep track of your best moments with your hand
 Memories is an Ubuntu Touch application which allows you to manage
 all your best life's moments. In includes features like:
  * Memory tags
  * Use Markdown/HTML instead of simple text for memory content
  * Associate photos with your memories
  * Localization support
  * Weather detection in your location
  * Sync with UbuntuOne personal cloud database
  * Basic memory management (add, remove and edit)