Source: memories-app
Section: unknown
Priority: extra
Maintainer: Mario Guerriero <mario@elementaryos.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/Mefrio/Memories
#Vcs-Git: git://git.debian.org/collab-maint/memories.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/memories.git;a=summary

Package: memories-app
Architecture: all
Depends: ${misc:Depends},qtdeclarative5-accounts-plugin,qtdeclarative5-accounts-plugin,qtdeclarative5-folderlistmodel-plugin,qtdeclarative5-friends-plugin,qtdeclarative5-friends-plugin,qtdeclarative5-hud1.0,qtdeclarative5-qtmultimedia-plugin,qtdeclarative5-qtquick2-plugin,qtdeclarative5-test-plugin,qtdeclarative5-u1db1.0,qtdeclarative5-ubuntu-ui-toolkit-plugin|qt-components-ubuntu,${shlibs:Depends},qmlscene
Description: Keep track of your best moments with your hands
 Memories is an Ubuntu Touch application which allows you to manage
 all your best life's moments. In includes features like:
 * Adaptive layout so that the app looks good on every device
 * Tags support to allow to filter memories
 * Markdown/HTML instead of simple text for memory content
 * Associate photos with your memories
 * Camera support
 * Localization support
 * Social Networks sharing
 * Protect your memories with a password
 * Sync with UbuntuOne personal cloud database
 * Basic memory management (add, remove and edit)
 
Package: memories-app-autopilot
Architecture: all
Depends: ${misc:Depends},
         memories-app (>= ${source:Version}),
         libautopilot-qt,
         libqt5test5,
         ubuntu-ui-toolkit-autopilot,
Description: Keep track of your best moments with your hands
 Memories is an Ubuntu Touch application which allows you to manage
 all your best life's moments. In includes features like:
 * Adaptive layout so that the app looks good on every device
 * Tags support to allow to filter memories
 * Markdown/HTML instead of simple text for memory content
 * Associate photos with your memories
 * Camera support
 * Localization support
 * Social Networks sharing
 * Protect your memories with a password
 * Sync with UbuntuOne personal cloud database
 * Basic memory management (add, remove and edit)
 This package contains autopilot test for memories-app
